{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<!-- Login Page -->

<section class="container-fluid text-center sign-up-font">

  <!-- 'Login' Title -->
  <h1 class="mt-2">
    <strong>{% trans "Sign In" %}</strong>
  </h1>

  <hr class="break">

  <!-- Content -->
  <div class="sign-up-links">

    <p>{% blocktrans %}If you have not created an account yet, then please <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}
    </p>

    <form class="login" method="POST" action="{% url 'account_login' %}">
      {% csrf_token %}
      {{ form.as_p }}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <a class="button secondaryAction" id="forgot-password-font" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
      <br>
      <button class="btn btn-secondary mt-3 mb-5" type="submit">{% trans "Sign In" %}</button>
    </form>

  </div>
</section>

{% endblock %}