{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}

<!-- Logout Page -->

<section class="container-fluid text-center sign-up-font">

  <!-- 'Logout' Title -->
  <h1 class="mt-2">
    <strong>{% trans "Sign Out" %}</strong>
  </h1>

  <hr>

  <!-- Content -->
  <div class="sign-up-links">
    
    <p>{% trans 'Are you sure you want to sign out?' %}</p>

    <form method="post" action="{% url 'account_logout' %}">
      {% csrf_token %}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <button type="submit" class="btn btn-secondary">{% trans 'Sign Out' %}</button>
    </form>

  </div>
</section>


{% endblock %}