@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    background-color: #FDF5E6;
    font-family: Lora, sans-serif;
}

header {
    box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 15px;
    width: 100%;
    position: sticky;
    top: 0;
    opacity: 0.8;
}

/* Break Line Design */

.break {
    border: 0;
    height: 1px;
    background: #333;
    align-items: center;
    background-image: linear-gradient(to right, #FAFAFA, #000, #FAFAFA);
}

/* Navigation bar */

.navbar {
    background-color: #07889B;
}

.navbar i {
    color: #FFA500;
}

.navbar ul {
    margin-right: 25px;
}

.nav-item a {
    text-decoration: none;
    color: #FFE4E1;
    letter-spacing: 3px;
}

.nav-item a:hover {
    transform: scale(1.095);
    transition: 50ms;
    color: #A9A9A9;
}

#logo {
    letter-spacing: 5px;
    font-size: 25px;
    font-weight: 700;
    color: #FFE4E1;
    margin-left: 25px;
}

#logo:hover {
    transform: scale(1.075);
    transition: 70ms;
    color: #A9A9A9;
}

/* Footer Customisation */

#footer-logo {
    letter-spacing: 5px;
    font-size: 25px;
    font-weight: 700;
}

#footer-logo i {
    color: #FFA500;
}

#footer-logo a:hover {
    color: #A9A9A9;
    letter-spacing: 6px;
    transition: 50ms;
}

.social-media-icons i:hover {
    transform: scale(1.6);
    transition: 50ms;
    color: blue;
}

.quick-links p:hover {
    transform: scale(1.1);
    transition: 50ms;
    color: #07889B;
}

#copyright-logo a {
    text-decoration: none;
    letter-spacing: 1px;
}

#copyright-logo i {
    color: #FFA500;
}

#copyright-logo a:hover {
    letter-spacing: 2px;
    transition: 50ms;
}

/* Landing Page Customisation */

.small-logo {
    letter-spacing: 5px;
    font-size: 25px;
    font-weight: 700;
}

.small-logo i {
    color: #FFA500;
}

.hero-image {
    border-radius: 200px;
}

.landing-page-description p {
    font-size: 25px;
}

.landing-page-description i {
    color: #FFA500;
}

.sign-up-links a {
    text-decoration: none;
    color: black;
}

.sign-up-links a:hover {
    text-decoration: underline;
    color: #07889B;
}

/* Past Meetup Page Customisation */

.btn-secondary {
    background-color: #07889B;
    font-size: 17.5px;
    color: #fafafa;
}

.btn-secondary:hover {
    transform: scale(1.1);
    transition: 50ms;
    letter-spacing: 1px;
}

/* Meetup Detail Page Customisation */

.event-description {
    font-size: 20px;
    margin: 25px 25px 0 25px;
}

.review-box {
    margin-right: 30px;
    margin-left: 30px;
}

.review-content p {
    font-size: 15px;
}

.btn-delete {
    background-color: #07889B;
    font-size: 17.5px;
    color: #fafafa;
}

.btn-delete:hover {
    transform: scale(1.1);
    transition: 50ms;
    letter-spacing: 1px;
}

/* User Profile Page Customisation */

.account-settings .user-profile {
    margin: 1rem 0 1rem 0;
    padding-bottom: 1rem;
    text-align: center;
}

.account-settings .user-profile .user-avatar {
    margin: 0 0 1rem 0;
}

.account-settings .user-profile .user-avatar img {
    width: 160px;
    height: 160px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    margin-top: 60px;
}

.account-settings .user-profile h5.user-name {
    margin: 0 0 0.5rem 0;
}

.account-settings .user-profile h6.user-email {
    margin: 0;
    font-size: 0.8rem;
    font-weight: 400;
    color: #9fa8b9;
}

.account-settings .about {
    margin: 2rem 0 0 0;
    text-align: center;
}

.account-settings .about h5 {
    margin: 0 0 15px 0;
    color: #007ae1;
}

.account-settings .about p {
    font-size: 0.825rem;
}

.card {
    background: #ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 0;
    margin-bottom: 1rem;
    position: static;
}

.card-container {
    margin-top: 30px;
}

.profile-shadow {
    box-shadow: rgba(0, 0, 0, 0.3) 0.5px 0.5px 3px;
}

.user-avatar img {
    padding: 2px 2px 2px 2px;
}

/* Modal Design */

.modal-dialog div {
    border: none;
}

.modal-header {
    background-color: #07889B;
}

.modal-header h5 {
    color: #FFE4E1;
}

.modal-body {
    background-color: #FDF5E6;
}

.modal-footer {
    background-color: #FDF5E6;
}

.modal-footer button:hover {
    transform: scale(1.1);
    transition: 50ms;
}

/* AllAuth Template Customisation(s) */

.sign-up-font p {
    font-size: 20px;
}

#forgot-password-font {
    font-size: 20px;
}

@media screen and (max-width: 768px) {

    /* Landing Page Media Query */

    .landing-page-description p {
        font-size: 17.5px;
    }

    /* Meet Up Detail Media Query */

    .event-description {
        font-size: 17.5px;
    }

    /* AllAuth Pages Media Query */

    .sign-up-font p {
        font-size: 17.5px;
    }

}

@media screen and (max-width: 430px) {

    /* Navbar Links */

    header {
        position: static;
    }

    .nav-item a {
        font-size: small;
        letter-spacing: 0px;
        margin: 0 -15px 0 23px;
    }

}

@media screen and (max-width: 380px) {

    /* Navbar Links */

    .nav-item a {
        margin: 0 -13.5px 0 10px;
    }

}

@media screen and (max-width: 330px) {

    /* Navbar */

    #logo {
        margin-left: 40px;
    }

    .navbar-toggler {
        margin-left: 127px;
    }

    /* Navbar Links */

    .nav-item a {
        margin: 0 -17px 0 2px;
    }

}