@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

body {
    background-color: #FDF5E6;
    font-family: Lora, sans-serif;
}

header {
    box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 15px;
    width: 100%;
    position: sticky;
    top: 0;
    opacity: 0.9;
}

/* Break Line Design */

.break {
    border: 0;
    height: 1px;
    background: #333;
    align-items: center;
    background-image: linear-gradient(to right, #FAFAFA, #000, #FAFAFA);
}

/* Navigation bar */

.navbar {
    background-color: #07889B;
}

.navbar i {
    color: #FFA500;
}

.navbar ul {
    margin-right: 25px;
}

.nav-item a {
    text-decoration: none;
    color: #FFE4E1;
    letter-spacing: 3px;
}

.nav-item a:hover {
    transform: scale(1.095);
    transition: 50ms;
    color: #A9A9A9;
}

#logo {
    letter-spacing: 5px;
    font-size: 25px;
    font-weight: 700;
    color: #FFE4E1;
    margin-left: 25px;
}

#logo:hover {
    transform: scale(1.075);
    transition: 70ms;
    color: #A9A9A9;
}

/* Footer Customisation */

#footer-logo {
    letter-spacing: 5px;
    font-size: 25px;
    font-weight: 700;
}

#footer-logo i {
    color: #FFA500;
}

#footer-logo a:hover {
    color: #A9A9A9;
    letter-spacing: 6px;
    transition: 50ms;
}

/* Landing Page Customisation */

.small-logo {
    letter-spacing: 5px;
    font-size: 25px;
    font-weight: 700;
}

.small-logo i {
    color: #FFA500;
}

.hero-image {
    border-radius: 200px;
}

.landing-page-description p {
    font-size: 25px;
}

.landing-page-description i {
    color: #FFA500;
}

.sign-up-links a {
    text-decoration: none;
    color: black;
}

.sign-up-links a:hover {
    text-decoration: underline;
    color: #07889B;
}

/* Past Meetup Page Customisation */

.btn-secondary {
    background-color: #07889B;
    font-size: 17.5px;
    color: #fafafa;
}

.btn-secondary:hover {
    transform: scale(1.1);
    transition: 50ms;
    letter-spacing: 1px;
}

/* AllAuth Template Customisation(s) */

.sign-up-font p {
    font-size: 20px;
}

#forgot-password-font {
    font-size: 20px;
}
