{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon Link -->
    <link rel="icon" href="{% static 'favicon_io/favicon.ico' %}">

    <!-- Bootstrap CSS CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

    <!-- CSS Link -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>LingoMeets</title>
</head>

<body>

    <!-- Navigation bar header -->
    <header>
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">

                <!-- NavBar Logo -->
                <a class="navbar-brand" href="{% url 'home' %}" id="logo">
                    LingoMeets <i class="fa-sharp fa-solid fa-language"></i>
                </a>

                <!-- Responsive Design Collapse Button -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- NavBar Website Links -->
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'home' %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'past_meetups' %}">Past Events</a>
                        </li>
                        <!-- For Logged In Users -->
                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'user_profile' %}">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'account_signup' %}">Sign-Up</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'account_login' %}">Login</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>

            </div>
        </nav>
    </header>

    <main class="flex-shrink-0 main-bg">
        {% block content %}
        <!-- Content to go in here -->
        {% endblock content %}
    </main>

    <!-- Footer -->

    <footer class="text-center text-lg-start container-fluid">

        <!-- Footer Logo -->

        <div id="footer-logo" class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
            <a class="navbar-brand" href="/">
                LingoMeets <i class="fa-sharp fa-solid fa-language"></i>
            </a>
        </div>

        <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">

                <!-- Social Media Content -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 text-center social-media-icons">
                    <h6 class="text-uppercase fw-bold mb-4">
                        Follow Us
                    </h6>
                    <a href="https://www.facebook.com/" class="btn btn-link btn-floating btn-lg text-dark m-1">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="https://twitter.com/" class="btn btn-link btn-floating btn-lg text-dark m-1">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="https://www.instagram.com/" class="btn btn-link btn-floating btn-lg text-dark m-1">
                        <i class="fab fa-instagram"></i>
                    </a>
                </div>

                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Timetable Content -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Our Timetable
                    </h6>
                    <p>Monday: 10:00 - 16:00</p>
                    <p>Tuesday: 10:00 - 16:00</p>
                    <p>Wednesday: 10:00 - 16:00</p>
                    <p>Thursday: 10:00 - 16:00</p>
                    <p>Friday: 10:00 - 16:00</p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4 quick-links">
                    <!-- Links Content -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Quick Links
                    </h6>
                    <p>
                        <a href="{% url 'home' %}" class="text-reset">Home</a>
                    </p>
                    <p>
                        <a href="{% url 'past_meetups' %}" class="text-reset">Past Meet-Ups</a>
                    </p>
                    {% if user.is_authenticated %}
                    <p>
                        <a href="{% url 'user_profile' %}" class="text-reset">Profile</a>
                    </p>
                    <p>
                        <a href="{% url 'account_logout' %}" class="text-reset">Login</a>
                    </p>
                    {% else %}
                    <p>
                        <a href="{% url 'account_signup' %}" class="text-reset">Sign Up</a>
                    </p>
                    <p>
                        <a href="{% url 'account_login' %}" class="text-reset">Logout</a>
                    </p>
                    {% endif %}
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Contact Content -->
                    <h6 class="text-uppercase fw-bold mb-4">Contact us</h6>
                    <p><i class="fas fa-home me-3 text-secondary"></i>Plaza de la Constitución, Málaga, 20000, ESP
                    </p>
                    <p>
                        <i class="fas fa-envelope me-3 text-secondary"></i>
                        info@lingomeets.com
                    </p>
                    <p><i class="fas fa-phone me-3 text-secondary"></i> + 01 234 567 88</p>
                    <p><i class="fas fa-print me-3 text-secondary"></i> + 01 234 567 89</p>
                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->
        </div>


        <!-- Copyright -->
        <div id="copyright-logo" class="text-center p-4">
            © 2022 Copyright:
            <a class="text-reset fw-bold" href="{% url 'home' %}">
                LingoMeets <i class="fa-sharp fa-solid fa-language"></i>
            </a>
        </div>


    </footer>

    <!-- Font Awesome Link -->
    <script src="https://kit.fontawesome.com/2e88571a5d.js" crossorigin="anonymous"></script>

    <!-- JQuery CDN Link -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

    <!-- JavaScript Bootstrap CDN -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
        integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
        integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous">
    </script>

</body>

</html>