{% extends "base.html" %}
{% block content %}

{% load crispy_forms_tags %}

<!-- Edit Review -->

<section class="review-box">
    
    <!-- Title -->
    <h3 class="text-center mt-3">
        <strong><u>Edit your review here:</u></strong>
    </h3>

    <!-- Crispy Form -->
    <div class="row form_group">
        <form action="" method="post">
            <strong>{{ form|crispy }}</strong>
            {% csrf_token %}
            <br>
            <!-- Submit Button -->
            <button type="submit" class="btn btn-secondary mb-5">Submit</button>
        </form>
    </div>

</section>

{% endblock %}