{% extends 'base.html' %}
{% block content %}

<!-- Landing Page -->

<!-- Success Message For Login And Logout -->
<div class="container-fluid">

    {% if messages %}
        {% for message in messages %}

        <div class="text-center h3 mt-3">
            <p>{{ message.message }}</p>
        </div>

        {% endfor %}
    {% endif %}

    <div class="text-center">

        <!-- Landing Page Title -->
        <div class="mt-3">
            <h1>
                <strong>For All Those Passionate About Languages</strong>
            </h1>
        </div>

        <!-- Sub-title Heading -->
        <div class="mb-3">
            <h3 class="small-logo">
                Welcome to <strong>LingoMeets</strong> <i class="fa-sharp fa-solid fa-language"></i>
            </h3>
        </div>

        <!-- Hero Image -->
        <div class="container col-md-10">
            <img src="https://res.cloudinary.com/twiggygnome/image/upload/v1667587084/lingo-meets%20images/languages-around-the-world_ow3vca.png"
                class="img-fluid hero-image" alt="Hero Image">
        </div>

        <!-- Description -->
        <div class="container-fluid col-md-10 mt-3 landing-page-description">
            <p>Welcome to <strong>LingoMeets <i class="fa-sharp fa-solid fa-language"></i></strong>, a place for language enthusiasts from around
                the globe!
            </p>
            <p>We make the event, and you network with other likeminded learners.</p>
            <p>Don't miss out on our next meet-up!</p>
        </div>

    </div>

</div>

{% if not user.is_authenticated %}

<div class="container-fluid text-center">

    <!-- Sign In/Login -->
    <div class="landing-page-description sign-up-links">
        <p>Come join us by <a href="{% url 'account_signup' %}"><strong>signing up now,</strong></a> 
            or <a href="{% url 'account_login' %}"><strong>log-in!</strong></a>
        </p>
    </div>

</div>

{% endif %}

{% endblock %}