{% extends 'base.html' %}
{% block content %}

<!-- Landing Page -->

<!-- Success Message For Login And Logout -->
<div class="container-fluid">

    {% if messages %}
        {% for message in messages %}

        <div>
            <p>{{ message.message }}</p>
        </div>

        {% endfor %}
    {% endif %}

    <div class="text-center">

        <!-- Landing Page Title -->
        <div class="mt-3">
            <h1>
                <strong>For All Those Passionate About Languages</strong>
            </h1>
        </div>

        <!-- Sub-title Heading -->
        <div class="mb-3">
            <h3 class="small-logo">
                Welcome to <strong>LingoMeets</strong> <i class="fa-sharp fa-solid fa-language"></i>
            </h3>
        </div>

        <!-- Hero Image -->
        <div class="container col-md-10">
            <img src="https://res.cloudinary.com/twiggygnome/image/upload/v1667587084/lingo-meets%20images/languages-around-the-world_ow3vca.png"
                class="img-fluid" alt="Hero Image">
        </div>

    </div>

</div>

{% endblock %}