{% extends 'base.html' %} {% block content %}

{% load crispy_forms_tags %}

<div class="container-fluid">
    <div class="row">

        <div class="text-center">

            <!-- Event Title -->
            <h2 class="mt-3">
                <strong>LingoMeets Meet-Up: <u>{{ event.destination }}</u>
                </strong>
            </h2>

            <!-- Event Date -->
            <h4 class="mt-3">
                <strong><u>Date of Event:</u> {{ event.date }}</strong>
            </h4>

            <!-- Event Price -->
            <h4 class="mt-3">
                <strong><u>Price:</u> {{ event.price }}.00€
                </strong>
            </h4>

            <!-- Event Attendees -->
            <h4 class="mt-3">
                <strong><u>Attendees:</u> {{ event.attendees_count }}
                </strong>
            </h4>

            <!-- Event Image -->
            <div class="container col-md-8 mt-4">
                <img src="{{ event.image.url }}" class="img-fluid rounded-circle" alt="Event Image">
            </div>

            <!-- Event Description -->
            <div class="event-description">
                <p>{{ event.description }}</p>
            </div>

            <!-- Register and Deregister Buttons -->
            {% if user.is_authenticated and not event.has_finished %}
            <form action="{% url 'attendee_registration' event.slug %}" method="post" class="mt-4 mb-4">
                {% csrf_token %}
                {% if attending %}
                <!-- Deregister Button -->
                <button type="submit" name="event_id" value="{{ event.slug }}"
                    class="btn btn-secondary">Deregister</button>
                {% else %}
                <!-- Register Button -->
                <button type="submit" name="event_id" value="{{ event.slug }}"
                    class="btn btn-secondary">Register</button>
                {% endif %}
            </form>
            {% endif %}

        </div>

    </div>
</div>

<hr class="break mt-3">

<section class="container-fluid mt-4">

    <!-- User Reviews -->
    <h3 class="text-center">
        <strong><u>Reviews:</u></strong>
    </h3>

    {% if messages %}
    {% for message in messages %}

    <!-- Review Pending Message -->
    <div class="text-center mt-3 mb-5">
        <strong>{{ message }}</strong>
    </div>

    {% endfor %}
    {% endif %}

    {% if reviews %}
    {% for review in reviews %}
    {% if review.event == event %}

    <div class="text-center mt-4 mb-4">
        <!-- User Name And Submit Date -->
        <p class="font-weight-bold">
            <u>@{{ review.user }}

                <span class="text-muted font-weight-normal">
                    {{ review.created_at }}
                </span> wrote:

            </u>
        </p>

        <!-- User Review -->
        <div class="review-content">
            {{ review.content | linebreaks }}
        </div>

        <!-- User Rating -->
        <h6>
            <u>Score:</u>
        </h6>

        <p>
            {% for x in review.get_range %}
            <i class="fa-solid fa-star"></i>
            {% endfor %}
        </p>
    </div>

    {% if review.user == request.user %}

    <!-- Edit And Delete Buttons -->
    <div class="row mb-5">
        <div class="col text-end">
            <a class="btn btn-secondary" href="{% url 'edit_review' review.id %}">Edit</a>
        </div>
        <div class="col text-start">
            <button type="button" class="btn btn-danger btn-delete" data-toggle="modal" data-target="#deleteModal">
                Delete
            </button>
        </div>
    </div>

    {% endif %}

    <hr class="break">

    {% endif %}
    {% endfor %}
    {% endif %}

    {% if user.is_authenticated and event.has_finished and attending %}

    <!-- Leave A Review Section -->

    <section class="review-box">

        <!-- Title -->
        <h3>
            <strong><u>Leave a review:</u></strong>
        </h3>

        <!-- User Username -->
        <h5>
            <strong><em>Posting as: @{{ user.username }}</em></strong>
        </h5>

        <!-- Crispy Form For Review -->
        <div class="form-group">
            <form method="post" class="form-group">
                <strong>{{ review_form | crispy }}</strong>
                {% csrf_token %}
                <button type="submit" class="btn btn-secondary mt-3 mb-4">Submit</button>
            </form>
        </div>

    </section>

    {% endif %}

    <!-- Modal For Deleting Post-->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <!-- Modal Title -->
                <section class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">
                        Wait!
                    </h5>
                </section>

                <!-- Modal Body Content -->
                <div class="modal-body">
                    Are you sure you want to permanently delete this post?
                </div>

                <!-- Modal Footer And Buttons -->
                <div class="modal-footer">

                    <!-- 'Go Back' Button -->
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Go back</button>

                    <!-- Delete Button -->
                    <form action="{% url 'delete_review' event.slug %}" method="post">
                        {% csrf_token %}
                        <button type="submit" name="event_id" value="{{event.slug}}"
                            class="btn btn-danger btn-m">Delete</button>
                    </form>

                </div>

            </div>
        </div>
    </div>

</section>

{% endblock %}