{% extends 'base.html' %} {% block content %}

{% load crispy_forms_tags %}

<div class="container-fluid">
    <div class="row">

        <div class="text-center">

            <!-- Event Title -->
            <h2>{{ event.destination }}</h2>

            <h4>Price: {{ event.price }}.00€</h4>

            <!-- Event Image -->
            <div class="container col-md-8">
                <img src="{{ event.image.url }}" class="img-fluid rounded-circle" alt="Event Image">
            </div>

            <!-- Event Description -->
            <div>
                <p>{{ event.description }}</p>
            </div>

        </div>

    </div>
</div>

<section class="container-fluid">

    {% if messages %}
    {% for message in messages %}

    <div>
        <p>{{ message }}</p>
    </div>

    {% endfor %}
    {% endif %}

    <!-- User Reviews -->
    <h3>
        Reviews:
    </h3>

    {% for review in reviews %}

    <div>{{ review.user }}, {{ review.created_at }}</div>
    <div>{{ review.content }}</div>
    <div>{{ review.rating }}</div>

    {% if review.user == request.user %}

    <div>
        <a class="btn btn-primary" href="{% url 'edit_review' review.id %}">Edit</a>
    </div>

    {% endif %}

    {% endfor %}

    {% if user.is_authenticated %}

    <!-- Crispy Form For Review -->
    <div>
        <h3>Leave a review:</h3>
    </div>

    <div class="form-group">
        <form method="post" class="form-group">
            <strong>{{ review_form | crispy }}</strong>
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

    {% endif %}

</section>



{% endblock %}