{% extends "base.html" %}
{% block content %}

<!-- User Profile Settings -->

<!-- Success/Failed Update Message -->

{% if messages %}
{% for message in messages %}

<div class="alert alert-success alert-dismissible fade show user-settings-alert" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

{% endfor %}
{% endif %}

<form action="{% url 'user_settings' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="container-fluid">
        <div class="row">

            <section class="card card-body bg-white border-light profile-shadow mb-4">

                <!-- Title -->
                <h2 class="h5 mb-4 text-center">
                    <u><strong>Profile information</strong></u>
                </h2>

                <div class="row">

                    <!-- First Name Input -->
                    <div class="col-md-6 mb-3">
                        <label for="first_name">First Name</label>
                        <input name="first_name" class="form-control" id="first_name" type="text"
                            placeholder="Enter your first name (letters only)"
                            value="{{ profile.first_name|default:'' }}" required>
                    </div>

                    <!-- Last Name Input -->
                    <div class="col-md-6 mb-3">
                        <label for="last_name">Last Name</label>
                        <input name="last_name" class="form-control" id="last_name" type="text"
                            placeholder="Also your last name (letters only)" value="{{ profile.last_name|default:'' }}"
                            required>
                    </div>

                    <!-- Birthday Input -->
                    <div class="col-md-6 mb-3">
                        <label for="birthday">Birthday</label>
                        <div class="form-group">
                            <input name="birthday" data-datepicker="" class="form-control" id="birthday" type="text"
                                placeholder="Format: mm/dd/yyyy. Users must be over 18."
                                value="{{ profile.birthday|date:'m/d/Y'|default:'' }}" required>
                        </div>
                    </div>

                    <!-- Native Language Input -->
                    <div class="col-md-6 mb-3">
                        <div>
                            <label for="native_language">Native language</label>
                            <input name="native_language" class="form-control" id="native_language" type="text"
                                placeholder="Enter your native language (letters only)"
                                value="{{ profile.native_language|default:'' }}" required>
                        </div>
                    </div>

                    <!-- Spoken Language(s) Input -->
                    <div class="col-md-12 mb-3">
                        <div>
                            <label for="other_language">Other language(s)</label>
                            <input name="other_language" class="form-control" id="other_language" type="text"
                                placeholder="Other language(s) that you speak (letters only)"
                                value="{{ profile.other_language|default:'' }}" required>
                        </div>
                    </div>

                    <!-- Bio -->
                    <div>
                        <form action="" method="post">
                            <label for="bio">Bio</label>
                            <input name="bio" class="form-control" id="bio" type="text"
                                placeholder="Please enter between 5 and 250 characters"
                                value="{{ profile.bio|default:'' }}" required>
                        </form>
                    </div>
                </div>

            </section>

            <!-- Select Profile Image Card -->
            <div class="container-fluid">
                <section class="card card-body bg-white border-light profile-shadow mb-4">

                    <!-- Title Header -->
                    <h2 class="h5 mb-4 text-center">
                        <strong><u>Select profile photo</u></strong>
                    </h2>

                    <div class="d-flex justify-content-xl-center">
                        <div class="d-flex">

                            <!-- Choose File Icon -->
                            <span class="">
                                <span class="fas fa-paperclip mr-3"></span>
                            </span>

                            <!-- Choose File Input -->
                            <input name="avatar" type="file">
                            <div>
                                <div class="font-weight-normal text-dark mb-1 text-center">Choose Image</div>
                                <div class="text-gray small">JPG, GIF or PNG. Max size of 800K</div>
                            </div>

                        </div>
                    </div>

                </section>
            </div>

            <!-- Save All Button -->
            <div class="text-center mb-3">
                <button type="submit" class="btn btn-secondary">Save All</button>
            </div>

        </div>
    </div>

</form>

<!-- Back Button -->
<div class="text-center mb-3">
    <a href="{% url 'user_profile' %}" class="btn btn-secondary">&laquo; Back</a>
</div>

<!-- Delete Profile Button -->
<form action="{% url 'delete_profile' user.id %}" method="post" class="text-center mb-4">
    {% csrf_token %}
    <button type="submit" name="profile_id" value="{{user.id}}"
        class="btn btn-danger">Delete profile</button>
</form>

{% endblock %}