{% extends "base.html" %}
{% block content %}

{% for profile in profile_list %}

<h3>Profile</h3>

{% if messages %}
{% for message in messages %}

{{ message.message }}

{% endfor %}
{% endif %}

<div>{{ profile.first_name }}</div>
<div>{{ profile.last_name }}</div>
<div>{{ profile.bio }}</div>
<div>
    <img src="{{ profile.avatar.url }}" alt="Profile Picture">
</div>

{% endfor %}

<div class="text-center">
    <a href="{% url 'user_settings' %}" class="btn btn-primary">
        Update profile
    </a>
</div>

{% endblock %}
