{% extends "base.html" %}
{% block content %}

{% for profile in profile_list %}

<div class="container card-container">
    <div class="row">

        <!-- User Profile Image  -->
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
            <div class="card h-100">

                <div class="card-body">
                    <div class="account-settings">
                        <div class="user-profile">

                            <!-- Profile Image -->
                            <div class="user-avatar">
                                <img src="{{ profile.get_avatar }}" class="rounded-circle border border-dark"
                                    alt="User Profile Image">
                            </div>

                            <!-- Profile User And Residence -->
                            <h5 class="user-name">
                                @{{ profile.user }}
                            </h5>

                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

{% endfor %}

<div class="text-center">
    <a href="{% url 'user_settings' %}" class="btn btn-primary">
        Update profile
    </a>
</div>

{% if messages %}
{% for message in messages %}

{{ message.message }}

{% endfor %}
{% endif %}

{% endblock %}